.background {
    background: linear-gradient(to bottom, #9200ad, rgb(51, 87, 185));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-text {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #fffacd;
    font-size: 20px;
    text-decoration: none;
}

.main-sub-text {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #ffa07a
}

.sub-text {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #63008e;
}

.setting-text {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 14px;
    color:rgb(234, 234, 203);
}

.disc-time-text {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #6c6c6c;
}

.logo-img { 
    width: 15%;  
    height: auto;
}

.container-background { 
    border: 1px solid rgba(220, 220, 220, 0.742);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.374);
}

.header-part:hover {
    cursor: pointer;
    color: #ffa07a;
}

.chat-href { 
    cursor: pointer;
}

.chat-href:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}

.story-img {
    width: 70px;         
    height: 70px;   
    border-radius: 50%; 
    padding: 3px 3px 3px 3px;
    border: 2px solid #ffa07a;
}

.post-header-img{ 
    width: 50px;         
    height: 50px;   
    border-radius: 50%; 
    overflow: hidden;
    border: 1px solid rgba(220, 220, 220, 0.742);
}

.button-sbc { 
    margin: 10px; 
    padding: 5px 5px 5px 5px;
    width: 120px;
}

.post-inf-publication-img { 
    width: 40%;  
    height: auto;
}

.feedback-buttons button {
    background: transparent;
    border: none;
    width: 5%;
}


.comments {
    display: none;
}

.comments.show {
    display: flex;
    flex-direction: column;
    position: relative;
}

.comment {
    border-bottom: 2px solid #adadad;
    padding: 5px 0px 5px 0px
}

.comment-author {
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment-author img {
    display: flex;
    align-items: center;
    margin: 2px 0px 2px 10px;
    width: 3%;
    height: auto;
}

.comment-block {
    font-size: 14px;
    margin-left: 5%;
}

.comment-text {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #fcf9dd;
    font-size: 13px;
    word-wrap: break-word;
    padding-right: 15px;
}

.comment-date {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #fcf9ddd2;
    font-size: 13px;
    margin-top: 5px;
}

.comment:last-of-type {
    border-bottom: none;
}

.chat:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}

.profile { 
    width: 60px;         
    height: 60px;   
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(220, 220, 220, 0.742);
 }

 .profile-message { 
    gap: 20px;
    margin-left: 20px;
 }

 .profile-info-img {
    width: 70px;         
    height: 70px;   
    border-radius: 50%; 
    overflow: hidden;
    padding: 1px 1px 1px 1px;
    border: 2px solid #fffaf8c5;
} 

 .setting { 
    border-bottom: 2px solid #adadad;
    padding: 15px 20px 15px 20px;
 }

 .setting:last-of-type { 
    border-bottom: none;
}


 .setting-inf {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #fffacd;
    transition: color 0.3s ease;
 }

 .setting-inf:hover {
    cursor: pointer;
    color: #ffa07a;
 }

 .setting-inf input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    font-family: inherit;
    direction: rtl;
    text-align: right
  }

 .setting-profile { 
    padding: 20px 50px 20px 50px;
 }

 .some-chat { 
    height: 80%;
    overflow-y: scroll;
    padding: 0px 10px 0px 10px;
 }

 .some-chat::-webkit-scrollbar { 
    width: 0;
  }

 .date-message { 
    position: sticky;
    top: 5px;
    background-color: rgba(122, 122, 122, 0.078);
    backdrop-filter: blur(60px);
    border: 1px solid rgba(143, 143, 143, 0.742);
    border-radius: 20px;
    width: 100px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 0px 5px 0px;
    word-wrap: break-word;
 }

 .date-message-text { 
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 12px;
    color: #f4f4f4cb;
    padding-right: 5px;
    text-align: center;
 }

 .your-message { 
    background-color: rgba(189, 182, 255, 0.821);
    backdrop-filter: blur(60px);
    border: 1px solid rgba(159, 157, 255, 0.742);
    border-radius: 20px;
    width: 20rem;
    max-width: 25rem;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    word-wrap: break-word;
 }

 .message-menu {
    color: #63008e;
    border: 1px solid rgba(220, 220, 220, 0.742);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.374);
    width: 20rem;
    max-width: 25rem;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
 }

 .stranger-message {
    display: block;
    background-color: rgba(247, 214, 255, 0.821);
    backdrop-filter: blur(60px);
    border: 1px solid rgba(252, 157, 255, 0.742);
    border-radius: 20px;
    width: 20rem;
    max-width: 25rem;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    word-wrap: break-word; /* Переносим слова, если они не помещаются */
    align-items: start;
 }

 .enter-message { 
    max-width: 800px;
    width: 800px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
 }

 .enter-message textarea{
    border: 1px solid white;
    border-radius: 10px;   
    padding: 5px 5px 5px 5px;
    width: 600px;
    height: 50px;
    margin-left: 70px;
    background: transparent; /*прозрачный*/
    box-sizing: border-box;
    color: rgb(234, 234, 203);
    resize: none;
    overflow: hidden;
 }

 .message-chat-text {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 16px;
    color: #525252;
    padding-left: 5px;
 }

 .message-chat-time {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 10px;
    color: #47474764;
    text-align: end;
    padding-right: 5px;
    /*opacity: 1; /* Изначальная видимость элемента нужно */ 
    transition: opacity 1s ease-in-out;
 }

/*profile*/

.profile-info { 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 1000px;
    gap: 20px;
}

.profile-header-part { 
    gap: 30px;
    margin: 10px 0px 10px 20px;
}

.profile-inf {  
    gap: 20px;
    /*margin-right: 200px;*/
}

.profile-info-discription { 
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #fffacd;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
}

.base-icon {
    color: #fffacd;
}

.base-icon.red-icon {
    color: #fb5f96;
}

/*---------------------------*/
.adding-post-textareas {
     display: flex;
     width: 90%;
     flex-direction: column;
    align-items: center;
}

.adding-post-textareas.show {
    display: flex;
    
}


.adding-post-button {
    display: flex;
    width: 90%;
    align-items: center;
}

.adding-post-button.show {
    display: flex;
    
}


.update-post-button{
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
}

.update-post-button.show {
    display: flex;
    
}

/*---------------------------*/

.adding-post-image { 
    width: 90%;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
}

.adding-post-textareas textarea {
    width: 90%;
    border: 1px solid white;
    border-radius: 10px;   
    padding-left: 5px;
    margin: 10px 10px 0px 10px;
    color: rgb(234, 234, 203);
    background-color: transparent;
    resize: none;
}

::placeholder {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: rgba(218, 218, 191, 0.655);
    /*padding: 5px 5px 5px 5px;*/
}

/*------------------------------------------------------------------------------------------*/

.input-file-row {
	display: inline-block;
}
.input-file {
	position: relative;
	display: inline-block;
}

.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}
 
/* Список файлов */
.input-file-list {
	padding: 10px 0;
}
.input-file-list-item {
	margin-bottom: 10px;
}
.input-file-list-remove {
	color: red;
	text-decoration: none;
	display: inline-block;
	margin-left: 5px;
}


.slider-viewport {
    width: 2500px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slider-wrapper {
    position: relative;
    width: 2500px;
    margin: 20px auto;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    overflow: hidden;
}

.slider img {
    flex-shrink: 0;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: transparent;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 400px) {
    .enter-message {
        width: 100%;
    }
    
    .enter-message textarea {
        width: 230px;
        height: 40px;
        margin-left: 10px;
    }

    

    /*.profile-inf {
        margin-right: 0px;
    }*/
}

@media  (max-width: 450px) {
    .profile-inf-firsttrio {
        flex-direction: column;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) { 
    .main-text {
        font-size: 24px;
    }
    
    .main-sub-text {
        font-size: 24px;
    }
    
    .sub-text {
        font-size: 20px;
    }
    
    .setting-text {
        font-size: 20px;
    }
    
    .disc-time-text {
        font-size: 20px;
    }

    .profile-info-discription {
        font-size: 20px;
    }

    .date-message-text {
        font-size: 14px;
    }

    .message-chat-text {
        font-size: 24px;
    }

    .message-chat-time {
        font-size: 14px;
    }    
}