.menu-toggle {
    display: none;
  }
  
  .hamburger {
    width: 10rem;
    display: none;
    cursor: pointer;
    color: #fffacd;
    z-index: 2;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list-link {
    margin-left: 20px;
    color: #fffacd;
    text-decoration: none;
    padding: 0.5rem 0;
    display: block;
  }
  
  .hamburger {
      display: flex;
      align-self: flex-end;
    }
 
  @media screen and (max-width: 768px) {
    .main-nav {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }
  
    
  
    .nav-list {
      flex-direction: column;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
      opacity: 0;
      background-color: rgba(247, 247, 247, 0.766);
      position: absolute;
      top: 100%;
      left: 0;
    }
  
    .nav-list-link {
        color: #a6674e;
      margin: 0;
      text-align: center;
      border-bottom: 1px solid rgba(234, 234, 203, 0.981);
    }
  
    .nav-list-link:last-child {
      border-bottom: none;
    }
  
    .nav-list.open {
      max-height: 300px;
      opacity: 1;
    }
  }

  @media screen and (max-width: 180px) {
    .hamburger {
        width: 2rem;
    }
 }